<!doctype html>
<html>
    <head>
        <title>{{title}} - My Website</title>
        <link rel="stylesheet" href="/site.css"/>
    </head>
    <body>
        {{>welcome}}
        {{{body}}}
    </body>
</html>